In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import tqdm.notebook

# Computing phenotypic correlations

This is loosely based on https://gist.github.com/ce-carey/6480d6544f132829d9579b2a1f1455b4.

We will compute the correlations between residualized phenotypes after adjusting for the GWAS covariates.

# 1. Build outcomes (phenotypes) table

In [2]:
relevant_icd_10_df = pd.read_csv('../data/phenotypes_meta/chosen_icd_codes.csv', header=None, names=['code'])

relevant_icd_10_df.head(2)

  code
0  A09
1  C18

In [3]:
# Copy the table to the local directory
# icd_10_df = pd.read_csv('/data1/deep_storage/ukbiobank/ukb_datapulls/ukb23674_icd10_long.txt.gz', 
#                         sep='\t', compression='gzip')

# icd_10_df.to_csv('../data/phenotypes/ukb_raw_icd10_long.tsv.gz', sep='\t', index=False, compression='gzip')

icd_10_df = pd.read_csv('../data/phenotypes/ukb_raw_icd10_long.tsv.gz', sep='\t', compression='gzip')

icd_10_df.head(0)

Empty DataFrame
Columns: [eid, icd10_code, column_code]
Index: []

In [4]:
all_eid_df = icd_10_df[['eid']].drop_duplicates()

all_eid_df.to_csv('../data/phenotypes/all_eids.tsv', sep='\t', index=False)

all_eid_df.head(0)

Empty DataFrame
Columns: [eid]
Index: []

In [5]:
relevant_code_occurrences_df = (
    icd_10_df
    .assign(
        code=lambda df: df['icd10_code'].apply(lambda x: x[:3]),
        had_code=1
    )
    .merge(relevant_icd_10_df, on='code')
    .groupby(['eid', 'code'])
    .agg({'had_code': 'max'})
    .reset_index()
    .query('had_code == 1')
    .filter(items=['eid', 'code'])
)

relevant_code_occurrences_df.to_csv('../data/phenotypes/relevant_occurrences_long.tsv', sep='\t', index=False)

relevant_code_occurrences_df.head(0)

Empty DataFrame
Columns: [eid, code]
Index: []

In [6]:
wide_phenotypes_df = (
    all_eid_df
    .merge(relevant_code_occurrences_df.assign(had=1), on='eid', how='left')
    .pivot_table(index='eid', columns='code', values='had', aggfunc='max', fill_value=0)
    .reset_index()
    .rename(columns={'eid': 'IID'})
)

wide_phenotypes_df.to_csv('../data/phenotypes/relevant_occurrences_wide.tsv', sep='\t', index=False)

wide_phenotypes_df.head(0)

Empty DataFrame
Columns: [IID, A09, C18, C34, C43, C44, C50, C67, D12, D17, D22, D23, D50, D64, G47, G56, H00, H02, H04, H25, H26, H33, H40, I20, I21, I25, I26, I47, I48, I63, I80, I83, I84, J18, J22, J32, J33, J34, J44, J45, K01, K02, K08, K13, K20, K21, K22, K25, K26, K29, K30, K31, K35, K40, K42, K43, K44, K51, K52, K56, K57, K59, K60, K62, K63, K80, K81, K85, L02, L03, L57, L72, L82, L90, L98, M06, M15, M16, M17, M19, M20, M23, M24, M25, M47, M48, M51, M54, M65, M67, M72, M75, M79, N13, N20, N23, N30, N32, N35, N39, ...]
Index: []

[0 rows x 143 columns]

# 2. Build covariates table

In [7]:
# # Copy the covariates file to the local directory and add a header
# covar_df = pd.read_csv('/data1/deep_storage/ukbiobank/pt2281/covar_chip/covar_chr1_chip.txt', 
#                        sep='\s+', header=None, usecols=list(range(14)), 
#                        names=['FID', 'IID', 'sex', 'age', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5', 
#                               'PC6', 'PC7', 'PC8', 'PC9', 'PC10'])

# covar_df.to_csv('../data/phenotypes/raw_covariates.covar', sep='\t', index=False)

covar_df = pd.read_csv('../data/phenotypes/raw_covariates.covar', sep='\t')

covar_df.head(0)

Empty DataFrame
Columns: [FID, IID, sex, age, PC1, PC2, PC3, PC4, PC5, PC6, PC7, PC8, PC9, PC10]
Index: []

In [8]:
gwas_covar_df = (
    covar_df
    .assign(
        age_squared=lambda df: df['age']**2,
        age_sex=lambda df: df['sex'] * df['age'],
        age_squared_sex=lambda df: df['sex'] * df['age_squared']
    )
)

gwas_covar_df.to_csv('../data/phenotypes/gwas_covariates.covar', sep='\t', index=False)

gwas_covar_df.head(0)

Empty DataFrame
Columns: [FID, IID, sex, age, PC1, PC2, PC3, PC4, PC5, PC6, PC7, PC8, PC9, PC10, age_squared, age_sex, age_squared_sex]
Index: []

# 3. Compute residualized phenotypes

In [9]:
full_df = wide_phenotypes_df.merge(gwas_covar_df, on='IID').drop(columns=['FID'])

full_df.head(0)

Empty DataFrame
Columns: [IID, A09, C18, C34, C43, C44, C50, C67, D12, D17, D22, D23, D50, D64, G47, G56, H00, H02, H04, H25, H26, H33, H40, I20, I21, I25, I26, I47, I48, I63, I80, I83, I84, J18, J22, J32, J33, J34, J44, J45, K01, K02, K08, K13, K20, K21, K22, K25, K26, K29, K30, K31, K35, K40, K42, K43, K44, K51, K52, K56, K57, K59, K60, K62, K63, K80, K81, K85, L02, L03, L57, L72, L82, L90, L98, M06, M15, M16, M17, M19, M20, M23, M24, M25, M47, M48, M51, M54, M65, M67, M72, M75, M79, N13, N20, N23, N30, N32, N35, N39, ...]
Index: []

[0 rows x 158 columns]

In [10]:
phenotype_codes = relevant_icd_10_df['code'].values.tolist()

X = full_df[['PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9', 'PC10', 
             'age', 'sex', 'age_squared', 'age_sex', 'age_squared_sex']]

resid_df = full_df[['IID'] + phenotype_codes].copy()

for phenotype_code in tqdm.notebook.tqdm(phenotype_codes):
    reg = sm.OLS(full_df[phenotype_code].values, X)
    res = reg.fit()
    resid_df[phenotype_code] = res.resid

resid_df.to_csv('../data/phenotypes/residualized_phenotypes.tsv.gz', sep='\t', index=False, 
                compression='gzip')
    
resid_df.head(0)

  0%|          | 0/142 [00:00<?, ?it/s]

Empty DataFrame
Columns: [IID, A09, C18, C34, C43, C44, C50, C67, D12, D17, D22, D23, D50, D64, G47, G56, H00, H02, H04, H25, H26, H33, H40, I20, I21, I25, I26, I47, I48, I63, I80, I83, I84, J18, J22, J32, J33, J34, J44, J45, K01, K02, K08, K13, K20, K21, K22, K25, K26, K29, K30, K31, K35, K40, K42, K43, K44, K51, K52, K56, K57, K59, K60, K62, K63, K80, K81, K85, L02, L03, L57, L72, L82, L90, L98, M06, M15, M16, M17, M19, M20, M23, M24, M25, M47, M48, M51, M54, M65, M67, M72, M75, M79, N13, N20, N23, N30, N32, N35, N39, ...]
Index: []

[0 rows x 143 columns]

# 4. Compute correlation between residualized phenotypes

In [11]:
correlation_df = (
    resid_df
    .drop(columns=['IID'])
    .corr()
    .stack()
    .reset_index()
    .rename(columns={'level_0': 'p1', 'level_1': 'p2', 0: 'rp'})
    .query('p1 < p2')
)

In [12]:
def normalize(values):
    return (values - values.mean()) / values.std()

In [13]:
covariance_df = (
    resid_df
    .drop(columns=['IID'])
    .apply(normalize, axis=0)
    .cov()
    .stack()
    .reset_index()
    .rename(columns={'level_0': 'p1', 'level_1': 'p2', 0: 'cp'})
    .query('p1 < p2')
)

In [14]:
phenotypic_correlation_df = correlation_df.merge(covariance_df, on=['p1', 'p2'])

phenotypic_correlation_df.to_csv('../data/phenotypes_meta/phenotypic_correlation.tsv', sep='\t', index=False)

phenotypic_correlation_df.head(2)

    p1   p2        rp        cp
0  A09  C18  0.022819  0.022819
1  A09  C34  0.023801  0.023801