In [1]:
import numpy as np
import pandas as pd
import torch
import tqdm

from plotnine import *

In [2]:
import sys

sys.path.append('../qtphenproxy_h2/')

import model

In [3]:
target_to_icd10 = {'stroke': 'I63', 'MI': 'I21'}

In [4]:
heritability_df = pd.read_csv('../data/phenotypes_meta/heritability.tsv', sep='\t')

heritability_df.head(2)

  code  n_cases  n_controls  h2_liability  h2_liability_se      h2_z      h2_p
0  A09   2161.0    359033.0     -0.029687         0.043285 -0.685859  0.753599
1  C18   2226.0    358968.0      0.120329         0.042461  2.833887  0.002299

In [5]:
genetic_covariance_matrix_df = pd.read_csv('../data/qtphenproxy_data/genetic_covariance_matrix.tsv',
                                           sep='\t', index_col=0)

genetic_covariance_matrix_df.iloc[:3, :3]

          A09       C18       C34
A09 -0.029687 -1.013000 -0.070820
C18 -1.013000  0.120329  0.210400
C34 -0.070820  0.210400  0.116966

In [6]:
phenotypic_covariance_matrix_df = pd.read_csv('../data/qtphenproxy_data/phenotypic_covariance_matrix.tsv',
                                              sep='\t', index_col=0)

phenotypic_covariance_matrix_df.iloc[:3, :3]

          A09       C18       C34
A09  1.000000  0.022819  0.023801
C18  0.022819  1.000000  0.012019
C34  0.023801  0.012019  1.000000

In [7]:
phenotypes_data_df = pd.read_csv('../data/phenotypes/relevant_occurrences_wide.tsv', 
                                 sep='\t', index_col=0)

phenotypes_data_df.head(0)

Empty DataFrame
Columns: [A09, C18, C34, C43, C44, C50, C67, D12, D17, D22, D23, D50, D64, G47, G56, H00, H02, H04, H25, H26, H33, H40, I20, I21, I25, I26, I47, I48, I63, I80, I83, I84, J18, J22, J32, J33, J34, J44, J45, K01, K02, K08, K13, K20, K21, K22, K25, K26, K29, K30, K31, K35, K40, K42, K43, K44, K51, K52, K56, K57, K59, K60, K62, K63, K80, K81, K85, L02, L03, L57, L72, L82, L90, L98, M06, M15, M16, M17, M19, M20, M23, M24, M25, M47, M48, M51, M54, M65, M67, M72, M75, M79, N13, N20, N23, N30, N32, N35, N39, N60, ...]
Index: []

[0 rows x 142 columns]

# Train model

In [8]:
def train(code, learning_rate=0.001, n_iter=5000, name=None):
    """Simple helper function for running this multiple times"""
    fitter = model.CombinationFitter.from_tables(code, genetic_covariance_matrix_df, 
                                                 phenotypic_covariance_matrix_df, phenotypes_data_df)
    fitter.fit(n_iter=n_iter, seed=0, learning_rate=learning_rate, verbose=False)

    if name is None:
        name = f'saved_qtphenproxy_{code}'
    fitter.save_fit(f'../data/{name}', person_ids=phenotypes_data_df.index.tolist())
    return fitter

In [24]:
mod1 = train('I21')

  0%|          | 0/10 [00:00<?, ?it/s]

In [25]:
mod2 = train('I63')

  0%|          | 0/10 [00:00<?, ?it/s]